body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); /* Replace 'background.jpg' with the path to your background image */
    background-size: cover; /* Set background size to cover the entire viewport */
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 200px; /* Adjust as needed */
    margin-top: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

form {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}
#barcode-scanner {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Let the height adjust based on the camera feed */
    max-width: 640px; /* Maximum width for the camera window */
    margin-bottom: 20px; /* Add some space below the camera window */
}

form input,
form select {
    width: calc(100% - 22px); /* Adjust for padding and border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

form button {
    width: 100%;
}

.item-card {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.item-card img {
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.item-card p {
    margin: 5px 0;
}
